/* 全局样式表,覆盖默认样式时需要书写 */
html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 15px;
}
.el-card{
    /* !important使低权值声明可以覆盖高权值而生效 */
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}
.el-table{
    margin-top: 15px;
}
.el-pagination{
    margin-top: 15px;
}
.el-tag{
    margin: 7px;
}
.row-top{
    border-top: 1px solid #eee;
}
.row-bottom{
    border-bottom: 1px solid #eee;
}
.tree-table{
    margin-top: 20px;
}
.el-cascader{
    width: 60%;
}
/* 解决高度溢出问题 */
.el-cascader-menu{
    height: 300px;
}
.el-tabs{
    margin-top: 30px;
}
.el-tabs__item{
    font-size: 15px;
}
.el-steps{
    margin: 15px 0;
}
/* 通过在页面上选中右键检查可以定位到元素，并在下方找到对应的css名 */
.el-step__title{
    font-size: 13px;
}
.ql-editor{
    min-height: 300px;
}
    
